/* ----------------------------------------colour reference */
/* 
black
blue grey: #202040
navy blue: #202060
purple: #602080
pink: #b030b0
grey: #808080

focus colors:
black: #262630
blue grey: #3c3c68
navy blue: #46469b
purple: #783f99
pink: #aa50ad
grey: #686768

*/

/* ----------------------------------------global styles */
html{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 1.2em;
    box-sizing: border-box;
}
h1{
    font-size: 3em;
}
p.grey{
    color: #808080;
}


/* ----------------------------------------general styles */
.hide-mobile{
    display: none;
}
.hide-until-pro{
    display: none;
}
.hide-until-desktop{
    display: none;
}

/* forms */
label{
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: black;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    font-size: 1em;
}
input[type="submit"], button[type="submit"]{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
}

/* list styles */
ul.unstyled-list{
    list-style: none;
    padding: 10px;
}
ul.spaced-list li{
    margin: 1em 0;
}

/* buttons */
.btn{
    padding: 5px 30px;
}
.btn-danger{
    background: #b030b0;
    border: none;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active{
    background:#dd1ae2;
}

.btn-primary{
    background: #202040;
    border: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 20px 40px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #3c3c68;
    border: 1px solid #3c3c68;
}
.btn-secondary{
    background: black;
    border: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 20px 40px;
}
.btn-warning{
    background: #602080;
    border: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 20px 40px;
    color: white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active{
    background: #783f99;
    color: white;
    border: 1px solid #783f99;
}


/* more icons */
.more-icon{
    width: 80px;
    height: 80px;
    padding-top: 20px;
    position: absolute;
    margin: 25px;
    transition: 0.5s;
    z-index: 50;
   
}
.more-icon:hover { 
    cursor: pointer;
    font-size: 1.1em;;
}
.more-icon a{
    color: white;
}
.to-brand{
    border-radius: 40px;
    border: 1px solid white;
    background: #202040;
    top: 80vh;
}
.to-brand:hover{
    background: #3c3c68;
}
.more-icon.brand{
    top: 70vh;
}
.more-icon.design{
    top: 60vh;
}
.more-icon.production{
    top: 72vh;
}


/* ----------------------------------------nav */
.menu-mobile{
    position: fixed;
    background: rgba(0,0,0,0.8);
    color: white;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}
nav{
    position: fixed;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    transition: top 0.5s;
    overflow-y: scroll;
    z-index: 99;
}
nav div.menu{
    padding-top: 10vh;
    background: black;
}
nav ul{
    list-style: none;
    margin: 40px;
    padding: 0;
} 
nav ul li{
    margin: 15px 0px;
}
nav ul li a{
    color: white;
}
nav ul li a.active{
    color: #b030b0;
    font-weight: bold;
}
.quote{
    background: #b030b0;
    width: 100vw;
    padding: 20px 40px;
}
.quote a{
    color: white;
}
nav a:focus{
    text-decoration: none;
}

/* ----------------------------------------home page*/

/* landing section */
section#landing{
    width: 100vw;
    height: 100vh;
    background: rgb(96,32,128);
    background: linear-gradient(180deg, rgba(96,32,128,1) 0%, rgba(32,32,64,1) 67%);
}
.landing-bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    position: absolute;
    top:0l
}
#hex1{
    position: absolute;
    animation: rotation 50s infinite linear reverse;
    height: 60vh;
    top: 15vh;
    left: 0vw;
}
#hex2{
    position: absolute;
    height: 80vh;
    top: 5vh;
    left: -15vw;
    animation: rotation 100s infinite linear;
}
#hex3{
    position: absolute;
    height: 200vh;
    top: -50vh;
    left: -100vw;
    animation: rotation 150s infinite linear reverse;
}
.logo{
    margin-top: 30vh;
}
img.logo{
    width: 15vw;
    margin: 40px;
}
section#landing h1{
    font-size: 1.5em;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg) translate(0, 0);
    }
    25%{
        transform: rotate(90deg) translate(50px, 0);
    }
    50%{
        transform: rotate(180deg) translate(50px, 50px);
    }
    75%{
        transform: rotate(270deg) translate(0, 50px);

    }
    100% {
      transform: rotate(359deg) translate(0, 0);
    }
}


/* brand section */
section#brand{
    background: black;
    width: 100vw;
    min-height: 100vh;
}
.verti-line{
    background: white;
    position: absolute;
    width: 2px;
    height: 90%;
    transform: translateX(65px);
    z-index: 0;
}
#brand-icons i.brand{
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 30px;
    padding-top: 25px;
    margin: 25px;
    background: black;
    z-index: 10;
    position: relative;
}
#brand-icons a{
    color: white;
}

/* brand more-icon */
#brand-icons i.arrow{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 15px;
    padding-top: 25px;
    margin: 100px 25px 0 25px;
    background: black;
    z-index: 10;
    position: relative;
    transition: font-size 0.5s;
}
#brand-icons a.arrow{
    transition: 0.5s;
}
#brand-icons a.arrow:hover{
    text-decoration: none;
}
#brand-icons i.arrow:hover{
    text-decoration: none;
    font-size: 18px;
}

/* digital design section */
section#design{
    background: url(../assets/images/digital-design.png) no-repeat center center, #202040;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

/* digital production section */
section#production{
    background: url(../assets/images/production-bg.png) no-repeat center center, black;
    background-size: cover;
    min-height: 100vh;
}
/* ----------------------------------------get in touch */
section#get-in-touch{
    background: url(../assets/images/get-in-touch.png) no-repeat 20px 20px, #202040;
    background-size: 120vh auto;
}



/* ----------------------------------------footer */
footer{
    width: 100vw;
    background: black;
    padding-top: 30px;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #602080;
    border-radius: 25px;
    padding-top: 8px;
    transition: background 0.5s;
}
footer ul li:hover{
    background: #b030b0;
}
footer ul li a{
    color: white;
    font-size: 25px;
}
footer ul li a:hover{
    color: white;
}


/* ----------------------------------------home page*/




/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // --------------------------------------------------------------Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     /* general styles */
    .hide-tablet-up{
        display: none;
    }
    .hide-mobile{
        display: block;
    }

    /* get in touch */
    section#get-in-touch{
        background: url(../assets/images/get-in-touch.png) no-repeat center 40px, #202040;
        background-size: 70vh auto;
        width: 100vw;
        padding: 100px 0;
    }

    /* landig page section */
    #hex1{
        height: 60vh;
        top: 15vh;
        left: 10vw;
    }
    /* design section */
    #design-border{
        background: url(../assets/images/digital-border.png) no-repeat center center;
        background-size: contain;
        padding: 100px;
    }
    /* production section */
    #production-border{
        background: url(../assets/images/productiom-border.png) no-repeat center center;
        background-size: contain;
        padding: 200px;
    }
 }

/* // --------------------------------------------------------------Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* global styles */
    body{
        font-size: 1em;
    }
    /* general styles */
    .hide-until-pro{
        display:block;
    }
    .hide-pro-up{
        display: none;
    }

    h1{
        font-size: 6em;
    }

    /* nav */
    nav{
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.9);
        height: Calc(20px + 1em);
        width: auto;
        overflow: visible;
        display: table;
    }
    nav a{
        transition: 0.5s;
    }
    nav ul{
        margin: 0;
    }
    nav ul li{
        display: inline;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
    }
    nav ul li.quote{
        margin: 0;
        padding: 10px;
        width: auto;
        transition: background 0.5s;
    }
    nav ul li.quote:hover{
        background: #aa50ad;
    }
    nav a:hover{
        cursor: pointer;
        text-decoration: underline;
        color: white;
        font-size: 1.1em;
    }

    /* footer */
    footer ul li{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        padding-top: 12px;
    }
    footer ul li a{
        font-size: 30px;
    }
    
 }

/* // --------------------------------------------------------------Large devices landscape(desktops, 992px and up) */
 @media (min-width: 1024px) and (orientation: landscape){
     /* landing section */
    #hex1{
        height: 70vh;
        left: 25vw;
    }
    #hex2{
        height: 85vh;
        left: 20vw;
    }
    #hex3{
        height: 150vh;
        top: -30vh;
        left: -10vw;
    }
    .logo{
        margin-top: 30vh;
    }
    svg.logo{
        width: 5vw;
        margin: 40px;
    }
    .cls-1{
        stroke: white;
        stroke-width: 2;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        fill: rgba(255,255,255,0);
        animation: draw 10s linear forwards;
        
    }
    @keyframes draw {
        to {
          stroke-dashoffset: 0;
            fill:rgba(255,255,255,1); 
        }
      }
 }
/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
/* --------------------------------------------------------------Extra large devices landscape */
 @media (min-width: 1200px) and (orientation: landscape) { 
    /* general styles */
    .hide-until-desktop{
    display: block;
    }
    .hide-from-desktop{
        display: none;
    }

    /* get in touch */
    section#get-in-touch{
        background: url(../assets/images/get-in-touch.png) no-repeat center 40px, #202040;
        background-size: 90vh auto;
    }

     /* landing section */
     #hex1{
        height: 70vh;
        left: 35vw;
    }
    #hex2{
        height: 85vh;
        left: 20vw;
    }
    #hex3{
        height: 150vh;
        top: -30vh;
        left: 0vw;
    }
    .logo{
        margin-top: 30vh;
    }
    img.logo{
        width: 5vw;
        margin: 40px;
    }

 }


 /* --------------------------------------------------------------Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


 }